.user-dropdown {
    border: 1px solid #F3F3F4;
    border-radius: 12px;
    padding: 9px;
}
.align-nav-items {
    display: flex;
    align-items: center;
}
.custom-search-input {
    background: #F3F4F6;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.input-search-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.padding-30 {
  padding: 30px 30px 20px 30px;
}
.small {
    font-size: 79.5%;
}